*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-family: "comic sans ms";
}

/* nav */
header {
    height: 200px;
    background-color: #ffdab9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: lightgray;
}

/* intro */

/* tech team */
.outer {
    width: 70%;
    margin: auto;
    display: flex;
}

.left {
    width: 50%;
}

/* sec team */
.top {
    width: 70%;
    margin: auto;
    text-align: center;
}
.bottom {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.bottom div {
    width: 33%;
    text-align: center;
}

.bottom div img {
    width: 250px;
    border-radius: 25px;
}

/* contact */
#contact p {
    text-align: center;
}

form {
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    width: 50%;
    margin: auto;
}

button {
    width: 10%;
    margin: auto;
}
/* footer */

footer {
    height: 100px;
    background-color: #B9DEFF;
    text-align: center;
}